<h1>Editing Collection</h1>

<%= render 'form' %>

<%= link_to @collection do %> 
<span class="glyphicon glyphicon-list-alt"></span>
   Show
<% end %>

<%= link_to collections_path do %>
<span class="glyphicon glyphicon-chevron-left"></span>
  Back
<% end %>