<h1>About</h1></br>

<h4>What is Booklist?</h4>

<p>Booklist is a simple book management tool. Its creator Nan hacked this app together with some help from her friends within 30 days. You can read about her 30-day Coding Challenge <a href="http://www.jianshu.com/p/394d85fe319a">here.</a> </p></br>

<h4>Why is she doing this?</h4>
<p>She is probably bored I guess...</p></br>

<h4>What can I do with this application?</h4>
<p>Nothing much actually...Well, you can upload your books and manage/categorize them by adding them to different collections. Just sign up and play with it, please. </p></br>

<h4>How to report a bug or file a complaint?</h4>
<p>Theoretically, you should contact Nan if there is a bug. But I don't think she can fix it...Anyway, feel free to drop her an email if you like at: nan@nansun.me. </p></br>

<h4>Will Nan maintain this application in the future?</h4>
<p>Good question! I hope she does and maybe adds more interesting features to it. If you are interested in this project, please let her know. I'm sure she'll be happy to talk about it. :)</p></br>
