<h1>Editing Book</h1>

<%= image_tag @book.image.url(:medium) %>

<%= render 'form' %>

<%= link_to @book do %> 
<span class="glyphicon glyphicon-list-alt"></span>
  Show
 <% end %>

<%= link_to books_path do %>
<span class="glyphicon glyphicon-chevron-left"></span>
  Back
<% end %>
