// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.books {
  margin-left: 0;
  width: 100%;
}

.box {
  margin: 7px;
  width: 214px;
}

.box img {
  width: 100%;
}
.div {
	display: block;
}